@{
    ViewData["Title"] = "Sobre";
}

<head>
    <link rel="stylesheet" href="~/css/sobre.css">
</head>

<div class="container">
    <h2>Sobre...</h2>
    <div class="cards">
        <div class="card card-proyecto">
            <div class="card-header">Este proyecto</div>
            <div class="card-content">
                <p>
                    Este sitio web está dedicado a ofrecer una plataforma interactiva de recetas de cocina, diseñada para facilitar el descubrimiento, aprendizaje y compartición de recetas de todo tipo. Su objetivo es proporcionar una experiencia completa para los amantes de la cocina, desde novatos hasta expertos.

                    La plataforma permite a los usuarios explorar una amplia variedad de recetas organizadas por categorías como tipo de cocina, nivel de dificultad, y tiempo de preparación. Además, cuenta con herramientas adicionales que ayudan en la planificación de comidas y la mejora de las habilidades culinarias.

                    Este proyecto busca crear una comunidad donde la cocina no solo sea una actividad diaria, sino también una oportunidad para aprender y compartir con otros entusiastas de la gastronomía.
                </p>
            </div>
        </div>
        <div class="card card-nosotros">
            <div class="card-header">Nosotros</div>
            <div class="card-content">
                <p>Este proyecto es una plataforma interactiva diseñada para explorar, aprender y compartir recetas de cocina. Busca facilitar la planificación de comidas y mejorar habilidades culinarias mientras fomenta una comunidad apasionada por la gastronomía. Desarrollado como parte de la asignatura de programación web en la Facultad de Ingeniería Mecánica y Eléctrica de la UANL.</p>
            </div>
        </div>
    </div>
</div>