@using PaginaRecetas.Data
@model usuarios

@{
    ViewData["Title"] = "signin";
}

<head>
    <link rel="stylesheet" href="/css/login.css">
</head>

<div id="form">
    <p>Sign in</p>
    <form asp-action="signin" method="post">
        <div class="mb-3">
            <label for="fecha_registro" class="form-label">Fecha de registro</label>
            <input asp-for="fecha_registro" class="form-control" type="date" />
        </div>
        <div class="mb-3">
            <label for="exampleInputnombre" class="form-label">Nombre</label>
            <input asp-for="nombre" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo</label>
            <input asp-for="email" class="form-control" />
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contrase単a</label>
            <input asp-for="contrase単a" class="form-control" type="password"/>
        </div>
        <div class="mb-3">
            <label for="exampleInputConfirmPassword1" class="form-label">Confirmar contrase単a</label>
            <input name="ConfirmaContrase単a" class="form-control" type="password"/>
        </div>
        <button type="submit" class="btn btn-primary">Registrarte</button>
    </form>
</div>