@{
    ViewData["Title"] = "Administración";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<div class="admin-container">
    <header class="admin-header">
        <h1>ADMINISTRACIÓN</h1>
    </header>

    <div class="sidebar">
        <ul>
            <li><a asp-area="" asp-controller="Admin" asp-action="Estadisticas">Estadísticas</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="GestionUsuarios">Gestión de usuarios</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="GestionElementosDestacados">Gestión de elementos destacados</a></li>
            <li class="submenu">
                <a id="gestionFiltros" asp-area="" asp-controller="Admin" asp-action="GestionFiltros">Gestión de Filtros</a>
                <ul class="submenu-items">
                    <li><a asp-area="" asp-controller="Admin" asp-action="FiltroTipo">Tipo</a></li>
                    <li><a asp-area="" asp-controller="Admin" asp-action="FiltroComplejidad">Complejidad</a></li>
                    <li><a asp-area="" asp-controller="Admin" asp-action="FiltroTiempo">Tiempo</a></li>
                    <li><a asp-area="" asp-controller="Admin" asp-action="FiltroRegion">Región</a></li>
                </ul>
            </li>
            <li><a asp-area="" asp-controller="Admin" asp-action="Reportes">Reportes</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="RecetasNuevas">Recetas nuevas</a></li>
        </ul>
    </div>

</div>