@model List<PaginaRecetas.Data.region>

@{
    ViewData["Title"] = "Region";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<div class="admin-container">
    <header class="admin-header">
        <h1>ADMINISTRACIÓN</h1>
    </header>

    <div class="sidebar">
        <ul>
            <li><a asp-area="" asp-controller="Admin" asp-action="Estadisticas">Estadísticas</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="GestionUsuarios">Gestión de usuarios</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="GestionElementosDestacados">Gestión de elementos destacados</a></li>
            <li class="submenu">
                <a id="gestionFiltros" asp-area="" asp-controller="Admin" asp-action="GestionFiltros">Gestión de Filtros</a>
                <ul class="submenu-items">
                    <li><a asp-area="" asp-controller="Admin" asp-action="FiltroTipo">Tipo</a></li>
                    <li><a asp-area="" asp-controller="Admin" asp-action="FiltroComplejidad">Complejidad</a></li>
                    <li><a asp-area="" asp-controller="Admin" asp-action="FiltroTiempo">Tiempo</a></li>
                    <li><a asp-area="" asp-controller="Admin" asp-action="FiltroRegion">Región</a></li>
                </ul>
            </li>
            <li><a asp-area="" asp-controller="Admin" asp-action="Reportes">Reportes</a></li>
            <li><a asp-area="" asp-controller="Admin" asp-action="RecetasNuevas">Recetas nuevas</a></li>
        </ul>
    </div>
    <main class="main-content">
        <h2>Filtros - Region</h2>
        <table class="filters-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Visitas</th>
                    <th>Veces utilizado</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>China</td>
                    <td>37</td>
                    <td>Etiqueta, Etiqueta</td>
                    <td>
                        <button onclick="deleteFilter('Región')"><i class="fas fa-trash-alt delete-icon"></i></button>
                        <button class="action-btn edit-btn" onclick="editFilter('Región')"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Italiana</td>
                    <td>37</td>
                    <td>Etiqueta, Etiqueta</td>
                    <td>
                        <button onclick="deleteFilter('Complejidad')"><i class="fas fa-trash-alt delete-icon"></i></button>
                        <button class="action-btn edit-btn" onclick="editFilter('Complejidad')"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Mexicana</td>
                    <td>37</td>
                    <td>Etiqueta, Etiqueta</td>
                    <td>
                        <button onclick="deleteFilter('Tiempo de reparación')"><i class="fas fa-trash-alt delete-icon"></i></button>
                        <button class="action-btn edit-btn" onclick="editFilter('Tiempo de reparación')"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Americana</td>
                    <td>37</td>
                    <td>Etiqueta, Etiqueta</td>
                    <td>
                        <button onclick="deleteFilter('Tipo')"><i class="fas fa-trash-alt delete-icon"></i></button>
                        <button class="action-btn edit-btn" onclick="editFilter('Tipo')"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="add-btn" onclick="addFilter()"><i class="fas fa-plus"></i> Agregar elemento</button>
    </main>

</div>